.navbar {
  min-height: 80px;
  font-family: 'Roboto Condensed', 'Roboto Mono', sans-serif;
  font-size: 1.4rem; 
  background-color: #4c005d !important;
}
.navbar .nav-link {
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 0.03em; 
}
.navbar .nav-link:hover {
  color: #B5179E;
}
.navbar .navbar-brand {
  font-family: 'Roboto Condensed', 'Roboto Mono', sans-serif;
  font-size: 1.4rem;
  color: #a419c7;
}

#btnBusqueda {
  background-color: #8b138f;  
  color: white;              
  border: none;              
}
#btnBusqueda:hover {
  background-color: #a419c7;
  cursor: pointer;
  color: black;
}

body {
  background-attachment: fixed;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url('../img_comprimidas/fondo_rosa.jpg');
  background-repeat: no-repeat;   
  background-size: cover;  
  font-family: 'Roboto Condensed', 'Roboto Mono', sans-serif;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  display: none; 
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.mi-enlace {
  color: #8b138f;
  margin-top: 55px !important;      
  font-weight: 600;        
  text-decoration: none;   
  font-size: 1.3rem;       
  transition: color 0.3s ease;
}
.mi-enlace:hover {
  color: #a419c7;      
  text-decoration: underline;
  cursor: pointer;
}

.carousel-item img {
  height: 400px;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

ul.lista-compra {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  margin: 0 auto;
}
.card {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.btn-agregar-carrito {
  background-color: #8b138f;
  border: none;
  color: white;
}
.btn-agregar-carrito:hover {
  background-color: #a419c7;
  cursor: pointer;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
  color: #4c005d; 
}

.dropdown-menu .dropdown-item:hover {
 background-color: #8b138f; 
  color: white;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
  background-color: #f3e6da;
  color: #4c005d;
  box-shadow: none;
}

.whatsapp-link {
  color: #128C7E;
  font-weight: bold;
  text-decoration: none; 
}

.whatsapp-link:hover {
  color: #10d4bd; 
  text-decoration: underline; 
}
.btn-instagram {
  background-color: #4c005d !important;
  color: #fff;
  border: none;
}

.btn-instagram:hover {
  background-color: #8b138f;
  color: #fff;
}

.btn-instagram i {
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .navbar {
    font-size: 1rem;
    min-height: 60px;
  }

  .carousel-item img {
    height: 250px;
  }

  .mi-enlace {
    font-size: 1rem;
  }
}
